In [64]:
import pandas as pd
import numpy as np
import ta
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.style.use('seaborn')

from scipy.stats import linregress

In [65]:
df = pd.read_parquet('../Dataframes/df.parquet.gzip')

In [66]:
df.dropna(inplace=True)

In [72]:
df

,open,high,low,close,wclose,delta,so_3,so_4,so_5,so_8,...,hi_avg_2,lo_avg_2,hilo_avg_2,hilo_avg,slope_3,slope_4,slope_5,slope_10,slope_20,slope_30
date,,,,,,,,,,,,,,,,,,,,,
13/3/2000,1.5773,1.5829,1.5761,1.5786,1.579050,0.0,34.042553,29.078014,47.368421,47.368421,...,1.58335,1.57575,1.579550,1.57950,-1051.660517,-480.169784,-124.552390,-374.380286,-405.042029,-553.768912
14/3/2000,1.5786,1.5795,1.5682,1.5787,1.576275,0.0,67.307692,63.253012,51.470588,51.470588,...,1.58120,1.57215,1.576675,1.57385,-418.016850,-528.634361,-464.546547,-528.940484,-418.450089,-548.468327
15/3/2000,1.5787,1.5787,1.5699,1.5733,1.573800,0.0,34.693878,32.692308,30.722892,25.000000,...,1.57910,1.56905,1.574075,1.57430,-422.252011,-497.671324,-568.730181,-608.062000,-416.686639,-543.624365
16/3/2000,1.5733,1.5775,1.5692,1.5765,1.574925,0.0,73.451327,56.462585,53.205128,40.686275,...,1.57810,1.56955,1.573825,1.57335,-986.842105,-527.622595,-562.098501,-598.903980,-423.601117,-539.882002
17/3/2000,1.5765,1.5766,1.5702,1.5753,1.574350,0.0,64.210526,62.831858,48.299320,34.803922,...,1.57705,1.56970,1.573375,1.57340,-945.945946,-1004.566210,-619.904891,-605.513402,-425.768716,-543.211462
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1/11/2019,1.2942,1.2973,1.2927,1.2939,1.294450,0.0,71.755725,78.106509,78.106509,80.213904,...,1.29745,1.29110,1.294275,1.29500,220.139986,293.546298,334.656691,-150.619446,189.236668,268.175518
4/11/2019,1.2939,1.2946,1.2876,1.2884,1.289750,0.0,8.000000,29.770992,45.562130,50.802139,...,1.29595,1.29015,1.293050,1.29110,-549.450549,186.069902,315.640299,45.677362,194.529558,269.431913
5/11/2019,1.2884,1.2917,1.2859,1.2884,1.288600,0.0,21.929825,21.367521,29.770992,46.511628,...,1.29315,1.28675,1.289950,1.28880,-356.991075,-448.548813,-30.816641,302.003249,207.694396,270.368160
6/11/2019,1.2884,1.2897,1.2844,1.2855,1.286275,0.0,10.784314,8.527132,8.333333,28.402367,...,1.29070,1.28515,1.287925,1.28705,-403.624382,-386.960777,-447.436648,191.687143,249.464651,270.453382
7/11/2019,1.2855,1.2878,1.2795,1.2816,1.282625,0.0,17.213115,13.907285,11.797753,11.602210,...,1.28875,1.28195,1.285350,1.28365,-512.708151,-441.466299,-414.728951,158.945118,255.054953,269.308107

In [68]:
df.index = df["date"]
df.drop(["date"], axis=1, inplace=True)

In [69]:
df.head()

,open,high,low,close,wclose,delta,so_3,so_4,so_5,so_8,...,hi_avg_2,lo_avg_2,hilo_avg_2,hilo_avg,slope_3,slope_4,slope_5,slope_10,slope_20,slope_30
date,,,,,,,,,,,,,,,,,,,,,
13/3/2000,1.5773,1.5829,1.5761,1.5786,1.579050,0.0,34.042553,29.078014,47.368421,47.368421,...,1.58335,1.57575,1.579550,1.57950,-1051.660517,-480.169784,-124.552390,-374.380286,-405.042029,-553.768912
14/3/2000,1.5786,1.5795,1.5682,1.5787,1.576275,0.0,67.307692,63.253012,51.470588,51.470588,...,1.58120,1.57215,1.576675,1.57385,-418.016850,-528.634361,-464.546547,-528.940484,-418.450089,-548.468327
15/3/2000,1.5787,1.5787,1.5699,1.5733,1.573800,0.0,34.693878,32.692308,30.722892,25.000000,...,1.57910,1.56905,1.574075,1.57430,-422.252011,-497.671324,-568.730181,-608.062000,-416.686639,-543.624365
16/3/2000,1.5733,1.5775,1.5692,1.5765,1.574925,0.0,73.451327,56.462585,53.205128,40.686275,...,1.57810,1.56955,1.573825,1.57335,-986.842105,-527.622595,-562.098501,-598.903980,-423.601117,-539.882002
17/3/2000,1.5765,1.5766,1.5702,1.5753,1.574350,0.0,64.210526,62.831858,48.299320,34.803922,...,1.57705,1.56970,1.573375,1.57340,-945.945946,-1004.566210,-619.904891,-605.513402,-425.768716,-543.211462

In [41]:
df.columns

Index(['open', 'high', 'low', 'close', 'wclose', 'delta', 'so_3', 'so_4',
       'so_5', 'so_8', 'so_9', 'so_10', 'wr_6', 'wr_7', 'wr_8', 'wr_9',
       'wr_10', 'roc_12', 'roc_13', 'roc_14', 'roc_15', 'wcp_15', 'macd_15_30',
       'cci_15', 'hi_avg_2', 'lo_avg_2', 'hilo_avg_2', 'hilo_avg', 'slope_3',
       'slope_4', 'slope_5', 'slope_10', 'slope_20', 'slope_30'],
      dtype='object')

In [42]:
from sklearn.model_selection import train_test_split

target = df['delta']
df.drop(['delta'], axis = 1, inplace = True)
data_train, data_test, target_train, target_test = train_test_split(df, target, test_size = 0.30)

In [43]:
#import the necessary modules
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

#create an object of type SVC
svc_model = SVC(random_state=0)

#train the algorithm on training data and predict using the testing data
pred = svc_model.fit(data_train, target_train).predict(data_test)
estm = svc_model.fit(data_train, target_train)

#print the accuracy score of the model
print("LinearSVC accuracy : ",accuracy_score(target_test, pred, normalize = True))

C:\Users\jtedd\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\Users\jtedd\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

LinearSVC accuracy :  0.5081221572449642

In [44]:
predict_lst = np.array(estm.predict(df.values.tolist()))
predict_lst

array([0., 0., 0., ..., 0., 0., 0.])

In [45]:
estm.decision_function(df.values.tolist())

array([-1.00006941, -1.00006941, -1.00006941, ..., -1.00006941,
       -0.99909285, -1.00006941])

In [46]:
df['pred_level'] = predict_lst
df.head()

,open,high,low,close,wclose,so_3,so_4,so_5,so_8,so_9,...,lo_avg_2,hilo_avg_2,hilo_avg,slope_3,slope_4,slope_5,slope_10,slope_20,slope_30,pred_level
date,,,,,,,,,,,,,,,,,,,,,
13/3/2000,1.5773,1.5829,1.5761,1.5786,1.579050,34.042553,29.078014,47.368421,47.368421,39.647577,...,1.57575,1.579550,1.57950,-1051.660517,-480.169784,-124.552390,-374.380286,-405.042029,-553.768912,0.0
14/3/2000,1.5786,1.5795,1.5682,1.5787,1.576275,67.307692,63.253012,51.470588,51.470588,51.470588,...,1.57215,1.576675,1.57385,-418.016850,-528.634361,-464.546547,-528.940484,-418.450089,-548.468327,0.0
15/3/2000,1.5787,1.5787,1.5699,1.5733,1.573800,34.693878,32.692308,30.722892,25.000000,25.000000,...,1.56905,1.574075,1.57430,-422.252011,-497.671324,-568.730181,-608.062000,-416.686639,-543.624365,0.0
16/3/2000,1.5733,1.5775,1.5692,1.5765,1.574925,73.451327,56.462585,53.205128,40.686275,40.686275,...,1.56955,1.573825,1.57335,-986.842105,-527.622595,-562.098501,-598.903980,-423.601117,-539.882002,0.0
17/3/2000,1.5765,1.5766,1.5702,1.5753,1.574350,64.210526,62.831858,48.299320,34.803922,34.803922,...,1.56970,1.573375,1.57340,-945.945946,-1004.566210,-619.904891,-605.513402,-425.768716,-543.211462,0.0