In [1]:
import pandas as pd
import numpy as np
import ta
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.style.use('seaborn')

from scipy.stats import linregress

In [3]:
df = pd.read_parquet('/Users/caoyuchen/Downloads/LSTM/Dataframes/df.parquet.gzip')

In [4]:
df.dropna(inplace=True)

In [5]:
df.index = df["date"]
df.drop(["date"], axis=1, inplace=True)

In [6]:
df.head()

,open,high,low,close,wclose,delta,so_3,so_4,so_5,so_8,...,hi_avg_2,lo_avg_2,hilo_avg_2,hilo_avg,slope_3,slope_4,slope_5,slope_10,slope_20,slope_30
date,,,,,,,,,,,,,,,,,,,,,
13/3/2000,1.5773,1.5829,1.5761,1.5786,1.579050,0.0,34.042553,29.078014,47.368421,47.368421,...,1.58335,1.57575,1.579550,1.57950,-1051.660517,-480.169784,-124.552390,-374.380286,-405.042029,-553.768912
14/3/2000,1.5786,1.5795,1.5682,1.5787,1.576275,0.0,67.307692,63.253012,51.470588,51.470588,...,1.58120,1.57215,1.576675,1.57385,-418.016850,-528.634361,-464.546547,-528.940484,-418.450089,-548.468327
15/3/2000,1.5787,1.5787,1.5699,1.5733,1.573800,0.0,34.693878,32.692308,30.722892,25.000000,...,1.57910,1.56905,1.574075,1.57430,-422.252011,-497.671324,-568.730181,-608.062000,-416.686639,-543.624365
16/3/2000,1.5733,1.5775,1.5692,1.5765,1.574925,0.0,73.451327,56.462585,53.205128,40.686275,...,1.57810,1.56955,1.573825,1.57335,-986.842105,-527.622595,-562.098501,-598.903980,-423.601117,-539.882002
17/3/2000,1.5765,1.5766,1.5702,1.5753,1.574350,0.0,64.210526,62.831858,48.299320,34.803922,...,1.57705,1.56970,1.573375,1.57340,-945.945946,-1004.566210,-619.904891,-605.513402,-425.768716,-543.211462

In [7]:
df.columns

Index(['open', 'high', 'low', 'close', 'wclose', 'delta', 'so_3', 'so_4',
       'so_5', 'so_8', 'so_9', 'so_10', 'wr_6', 'wr_7', 'wr_8', 'wr_9',
       'wr_10', 'roc_12', 'roc_13', 'roc_14', 'roc_15', 'wcp_15', 'macd_15_30',
       'cci_15', 'hi_avg_2', 'lo_avg_2', 'hilo_avg_2', 'hilo_avg', 'slope_3',
       'slope_4', 'slope_5', 'slope_10', 'slope_20', 'slope_30'],
      dtype='object')

In [9]:
import pandas as pd
from sklearn.model_selection import train_test_split
from xgboost import XGBClassifier

#split dataset in features and target variable
X = df.drop(['delta'],axis=1) # Features
y = df['delta'] # Target variable
# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0) # 70% training and 30% test


xgbc = XGBClassifier()
xgbc.fit(X_train, y_train)
y_pred = xgbc.predict(X)

# Model Accuracy, how often is the classifier correct?
print("Accuracy:",xgbc.score(X_test, y_test))

Accuracy: 0.8109161793372319

In [11]:
df['pred_level'] = y_pred
df.head()

,open,high,low,close,wclose,delta,so_3,so_4,so_5,so_8,...,lo_avg_2,hilo_avg_2,hilo_avg,slope_3,slope_4,slope_5,slope_10,slope_20,slope_30,pred_level
date,,,,,,,,,,,,,,,,,,,,,
13/3/2000,1.5773,1.5829,1.5761,1.5786,1.579050,0.0,34.042553,29.078014,47.368421,47.368421,...,1.57575,1.579550,1.57950,-1051.660517,-480.169784,-124.552390,-374.380286,-405.042029,-553.768912,0.0
14/3/2000,1.5786,1.5795,1.5682,1.5787,1.576275,0.0,67.307692,63.253012,51.470588,51.470588,...,1.57215,1.576675,1.57385,-418.016850,-528.634361,-464.546547,-528.940484,-418.450089,-548.468327,0.0
15/3/2000,1.5787,1.5787,1.5699,1.5733,1.573800,0.0,34.693878,32.692308,30.722892,25.000000,...,1.56905,1.574075,1.57430,-422.252011,-497.671324,-568.730181,-608.062000,-416.686639,-543.624365,0.0
16/3/2000,1.5733,1.5775,1.5692,1.5765,1.574925,0.0,73.451327,56.462585,53.205128,40.686275,...,1.56955,1.573825,1.57335,-986.842105,-527.622595,-562.098501,-598.903980,-423.601117,-539.882002,0.0
17/3/2000,1.5765,1.5766,1.5702,1.5753,1.574350,0.0,64.210526,62.831858,48.299320,34.803922,...,1.56970,1.573375,1.57340,-945.945946,-1004.566210,-619.904891,-605.513402,-425.768716,-543.211462,0.0